body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Color de fondo general */
}

header {
    background: #0056b3;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    background: #ffffff;
    padding: 20px;
    margin: 10px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 850px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="password"],
input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

button {
    background: #0056b3;
    color: white;
    border: 100%;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

button:hover {
    background: #004494;
}

footer {
    background: #0056b3;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 96.85%;
    
}
